@charset "utf-8";

/*============================================================
# mixins
=============================================================*/

//ブレークポイント
$layout-width-inner: 1200px;
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'md': '(min-width: 768px)',//767px以上
) ;

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}

/*============================================================
# colors
=============================================================*/

$primary-color: #00d235;
$font-color: #333;

/*============================================================
# common -全体に共通するスタイル
=============================================================*/
  @include mq('sp') {
    .is-pc {
      display: none;
    }
  }

  @include mq('md') {
    .is-sp {
      display: none;
    }  
  }

  .inner {
    width: 1200px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .mt20{
    padding-top: 20px;
    font-size: 30px;
  }

  .mt40{
    margin-top: 40px;
    font-size: 20px;
  }

  .pb{
    padding-bottom: 50px;
  }

  .bg-w {
    background-color: #fff;
    width: 1000px;
  }

  p {
    font-size: 40px;
    padding-bottom: 10px;
  }

/*============================*/

.bg {
  background: url(/img/white-box-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 0 30px 0;
}

.main {

  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #fff;   /* 好みで色を変えてください */  
  }
}

.top {
  background: #00c2cb;
  padding-bottom: 100px;
}

.top-catch {
  h1 {
    font-size: 60px;
    text-align: center;
    padding: 100px 0 0;
    color: #fff;
  }

  p {
    font-size: 65px;
    text-align: center;
    padding: 10px 0;
    color: #ffde59;
    margin-bottom: 80px;
  }
}


.white {
  background: #fff;
  padding-bottom: 50px;

  h2 {
    padding-top: 50px;
    font-size: 50px;

    span {
      color: red;
    }
  }

  p {
    margin-top: 30px;
    color: red;
  }
}

.mail-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-size: 30px;
  margin-top: 30px;

  .ul{
    list-style: disc;
    padding-left: 15px;
  }

}

.mailf {
  width: 820px; 
  height:100px; 
  font-size:24px; 
  border-radius:5px;
  margin-bottom:20px;
  text-align:center;
  border:solid 2px #AEAEAE;
}

.btn {
  width: 820px; 
  padding: 20px 0;
  font-size:40px; 
  border-radius:5px;
  margin:0 auto;
  text-align:center;
  background: #00d235;

  &:hover {
    opacity: 0.6;
  }
  a{
    color: #fff;
  }
  
}

.can {
  font-size: 20px;
  color: #AEAEAE
}

.text-b {
  font-weight: bold;
  font-size: 45px;
}


.about {
  h2 {
    color: #00c2cb;
    font-size: 55px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 800px;
    border-bottom: 5px solid #00c2cb
  }

  .about-text {
    margin-top: 30px;
    p {
      font-size: 30px; 
    }
  }

  .about-h {
    width: 820px;
    font-size: 55px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #00c2cb;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%);
      border: 40px solid transparent;
      border-top: 30px solid #00c2cb;   /* 好みで色を変えてください */  
    }
  }

  .about-img {

    img {
      width: 850px;
      margin-top: 80px;
    }
    
  }
}


.step {
  text-align: center;
  margin: 0 auto;
}

.step-h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #00c2cb;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
  width: 100%;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #00c2cb;   /* 好みで色を変えてください */  
  }

  

  h2 {
    font-size: 85px;
    color:#ffde59;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 500px;

    .t {
      color: #fff;
      font-size: 35px;
      position: absolute;
      top: 45px;
      left: 30%;
    }

    .x {
      font-size: 200px;
    }
  }
}


.card {

  margin-top: 100px;
  .card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(168, 158, 158);

    .card-img {

      img {
        width: 500px;
      }
      
    }

    .card-text {

      width: 500px;
      h2 {
        font-size: 100px;
        font-weight: bold;
        color: #00c2cb;
      }

      p {
        margin-top: 50px;
      }
    }
  }
}


.karo {

  margin-top: 50px;
  padding-top: 100px;
  background: #F4F4F4;

  h2 {
    color: #fff;
    font-size: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 800px;
    background-color:#00c2cb;
    border-radius: 20px;
    margin-bottom: 50px;
    
    
  }

  p {
    font-size: 30px;

    span {
      font-weight: bold;
      font-size: 40px;
    }
  }
}