@charset "utf-8";

/*============================================================
# mixins
=============================================================*/

//ブレークポイント
$layout-width-inner: 1200px;
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'md': '(min-width: 768px)',//767px以上
) ;

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}

/*============================================================
# colors
=============================================================*/

$primary-color: #00d235;
$font-color: #333;

/*============================================================
# common -全体に共通するスタイル
=============================================================*/
  @include mq('sp') {
    .is-pc {
      display: none;
    }
  }

  @include mq('md') {
    .is-sp {
      display: none;
    }  
  }

  .inner {
    width: 1200px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;

      @include mq('sp') {
        width: 90%;
      }
  }

  .mt20{
    padding-top: 20px;
    font-size: 30px;
  }

  .mt40{
    margin-top: 40px;
    font-size: 20px;
  }

  .pb{
    padding-bottom: 50px;
  }

  .bg-w {
    background-color: #fff;
    width: 1000px;
  }

  p {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .mb {
    margin-bottom: 80px;
  }

/*============================*/

.bg {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.main {

  background-color: #fff;
  img {
    width: 100%;
  }

  
  // position: relative;
  // &::before{
  //   content: "";
  //   position: absolute;
  //   bottom: -70px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   border: 40px solid transparent;
  //   border-top: 30px solid #fff;   /* 好みで色を変えてください */  

  //     @include mq('sp') {
  //       content: "";
  //       position: absolute;
  //       bottom: -30px;
  //       left: 50%;
  //       transform: translateX(-50%);
  //       border: 20px solid transparent;
  //       border-top: 15px solid #fff;  
  //     }
  // }
}

.top {
  background: #00c2cb;
  padding-bottom: 100px;
    @include mq('sp') {
      padding-bottom: 20px;
    }
}

.top-catch {
  h1 {
    font-size: 60px;

      @include mq('sp') {
        font-size: 30px;
        padding-top: 40px;
      }

    text-align: center;
    padding: 100px 0 0;
    color: #fff;
  }

  p {
    font-size: 65px;
    text-align: center;
    padding: 10px 0;
    color: #ffde59;
    margin-bottom: 80px;

      @include mq('sp') {
        font-size: 25px;
        margin-bottom: 30px;
      }
  }
}


.white {
  background: #fff;
  padding-bottom: 50px;

  h2 {
    padding-top: 50px;
    font-size: 50px;

      @include mq('sp') {
        font-size: 20px;
        padding-top: 35px;
      }

    span {
      color: red;
    }
  }

  p {
    margin-top: 30px;
    color: red;
      @include mq('sp') {
        font-size: 18px;
      }
  }
}

.mail-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-size: 30px;
  margin-top: 30px;

    @include mq('sp') {
      font-size: 20px;
    }

  .ul{
    list-style: disc;
    padding-left: 15px;
  }

}

.mailf {
  width: 820px; 
  height:100px; 
  font-size:24px; 
  border-radius:5px;
  margin-bottom:20px;
  text-align:center;
  border:solid 2px #AEAEAE;
  max-width: 80%;
    @include mq('sp') {
      margin-bottom: 10px;
      padding: 10px 0;
      height: auto;
      font-size: 12px;
    }
}

.btn {
  width: 820px; 
  padding: 20px 0;
  font-size:40px; 

    @include mq('sp') {
      font-size: 20px;
      padding: 10px 0;
    }
  border-radius:5px;
  margin:0 auto;
  text-align:center;
  background: #00d235;
  max-width: 80%;


  &:hover {
    opacity: 0.6;
  }
  color: #fff;
 
  
}

.can {
  font-size: 20px;
  color: #AEAEAE;
    @include mq('sp') {
      font-size: 10px;
    }
}

.text-b {
  font-weight: bold;
  font-size: 45px;
    @include mq('sp') {
      font-size: 25px;
    }
}


.about {
  h2 {
    color: #00c2cb;
    font-size: 55px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 800px;
    line-height: 60px;
    border-bottom: 5px solid #00c2cb;
    max-width: 100%;

      @include mq('sp') {
        font-size: 24px;
        padding: 10px;
        margin-top: 30px;
        line-height: 40px;
      }
  }

  .about-text {
    margin-top: 30px;
      @include mq('sp') {
        margin-top: 40px;
      }
    p {
      font-size: 30px; 
        @include mq('sp') {
          font-size: 20px;
        }
    }
  }

  .about-h {
    width: 820px;
    font-size: 55px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #00c2cb;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    max-width: 100%;

      @include mq('sp') {
        font-size: 24px;
        line-height: 40px;
      }

    &::before{
      content: "";
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%);
      border: 40px solid transparent;
      border-top: 30px solid #00c2cb;   /* 好みで色を変えてください */  

      @include mq('sp') {
        content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: 20px solid transparent;
      border-top: 15px solid #00c2cb;  
      }
    }
  }

  .about-img {

    img {
      width: 850px;
      margin-top: 80px;
      max-width: 100%;

        @include mq('sp') {
          margin-top: 30px;
        }
    }
    
  }
}


.step {
  text-align: center;
  margin: 0 auto;
  
}

.step-h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #00c2cb;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
  width: 100%;
  position: relative;

    

  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #00c2cb;   /* 好みで色を変えてください */  
    
    @include mq('sp') {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: 20px solid transparent;
      border-top: 15px solid #00c2cb;  
    }
  }

  

  h2 {
    font-size: 85px;
    color:#ffde59;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 500px;
    max-width: 100%;
      @include mq('sp') {
        font-size: 50px;
      }

    .t {
      color: #fff;
      font-size: 35px;
      position: absolute;
      top: 45px;
      left: 30%;

        @include mq('sp') {
          font-size: 20px;
          top: -30px;
          left: 30px;
        }
    }

    .x {
      font-size: 200px;

        @include mq('sp') {
          font-size: 40px;
        }
    }
  }
}


.card {
  
  margin-top: 100px;

    @include mq('sp') {
      margin-top: 50px;
    }
  .card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(168, 158, 158);

      @include mq('sp') {
        display: block;
        border: 3px solid rgb(168, 158, 158);
        margin-top: 0;
        margin-bottom: 50px;
      }


    .card-img {

      img {
        width: 500px;
        max-width: 90%;
          @include mq('sp') {
            margin-top: 20px;
          }
      }
      
    }

    .card-text {

      width: 700px;
      max-width: 100%;
      h2 {
        font-size: 100px;
        font-weight: bold;
        color: #00c2cb;

          @include mq('sp') {
            font-size: 50px;
            margin-top: 20px;
          }
      }

      p {
        margin-top: 50px;
          @include mq('sp') {
            margin-top: 20px;
            font-size: 30px;
          }
      }
    }

    .line {
      line-height: 90px; 

        @include mq('sp') {
          line-height: 40px;
        }

      p {
        font-size: 60px;
          @include mq('sp') {
            font-size: 30px;
          }
      }
      
    }
  }
}


.karo {

  margin-top: 50px;
  padding-top: 100px;
  background: #F4F4F4;
  margin: 0 auto;
  text-align: center;

    @include mq('sp') {
      padding-top: 50px;
    }


  img {
    max-width: 100%;
      @include mq('sp') {
        margin-top: 30px;
        margin-bottom: 30px;
      }
  }

  h2 {
    color: #fff;
    font-size: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    background-color:#00c2cb;
    border-radius: 20px;
    margin-bottom: 50px;

      @include mq('sp') {
        font-size: 24px;
        margin-bottom: 20px;
      }
    
    
  }

  p {
    font-size: 30px;

      @include mq('sp') {
        font-size: 16px;
      }

    span {
      font-weight: bold;
      font-size: 40px;
        @include mq('sp') {
          font-size: 30px;
        }
    }
  }
}


.nayami {
  padding: 80px auto;
  width: 1200px;
  max-width: 100%;

  h2 {
    font-size: 55px;
    padding-top: 80px;
    margin-bottom: 80px;

      @include mq('sp') {
        font-size: 24px;
        padding-top: 40px;
        margin-bottom: 40px;
      }

    span {
      font-size: 65px;
      font-weight: bold;
        @include mq('sp') {
          font-size: 30px;
        }
    }
  }

  img {
    width: 700px;
    max-width: 100%;
  }

  p {
    padding: 30px;
    color:#fff;
    background: #69A5E0;
    margin: 30px 0 80px 0;
    width: 800px;
    border-radius: 10px;
    font-weight: bold;
    max-width: 90%;

      @include mq('sp') {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 10px;
      }
  }
}

.nayami-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.simple {
  margin-bottom: 50px;
  background-color: #00c2cb;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #fff;
  width: 100%;
  position: relative;
  text-align: center;

    @include mq('sp') {
      margin-top: 30px;
    }

  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #00c2cb;   /* 好みで色を変えてください */  

    @include mq('sp') {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: 20px solid transparent;
      border-top: 15px solid #00c2cb;  
    }
  }

  .p {
    display: flex;
      @include mq('sp') {
        max-width: 90%;
      }
    color: #00c2cb;
    width: 700px;
    justify-content: space-around;
    margin: 0 auto;

    p {
      background-color: #fff;
      padding: 15px 10px;

        @include mq('sp') {
          font-size: 16px;
          margin-top: 20px;
          padding-bottom: 5px;
        }
    }
  }

  .p-1 {
    font-size: 55px;
    margin-top: 30px;

      @include mq('sp') {
        font-size: 40px;
        margin-top: 10px;
        padding-bottom: 0;
      }
  }

  h2 {
    font-size: 75px;
    margin-top: 30px;
    color: #ffde59;
    font-weight: bold;

      @include mq('sp') {
        font-size: 30px;
        margin-top: 0;

      }

    span {
      font-size: 90px;

        @include mq('sp') {
          font-size: 40px;
        }
    }
  }
}


.review {
  padding-bottom: 80px;
  background-color: #fff;

  img {
    max-width: 100%;
  }

  h2 {
    margin-bottom: 80px;

      @include mq('sp') {
        margin-bottom: 40px;
      }
  }
}


//スライダー

.slider{
  margin: 50px auto;
  width: 90%;
  height: auto;
  opacity: 0;
}

.card_bottom-item {
  img {
    width: 90%;
    height: auto;
    margin:0 10px;

      @include mq('sp') {
        margin: 0 17px;
      }
  }
}


/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-initialized{
  opacity: 1;
}

.slick-dots {
  bottom: -50px;
}

.slick-slide img {
  display: inline;
}

  
@include mq('sp') {
  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
}
}


.work {
  margin-top: 100px;
}

.bgw {
  background-color: #F5F9FB;

    @include mq('sp') {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    p {
        @include mq('sp') {
          font-size: 20px;
        }
    }
}

.ima {
  background-color: #fff;
  color: #00c2cb;
  padding-top: 60px;
  text-align: center;
  position: relative;
    @include mq('sp') {
      padding-top: 10px;
    }

  h2 {
    font-size: 50px;

      @include mq('sp') {
        font-size: 24px;
      }
  }

  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #fff;   /* 好みで色を変えてください */  
  }

  p {
    font-size: 60px;
  }
}

.imagori {
  background-color: #fff;
  color: #00c2cb;
  padding: 40px 0;
  margin-top: 80px;
  text-align: center;
  position: relative;

    @include mq('sp') {
      margin-top: 30px;
    }

  p {
    @include mq('sp') {
      font-size: 24px;
    }
  }

 

  &::before{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid #fff;   /* 好みで色を変えてください */  
  }
}





.ima-card {
  margin-top: 80px;
  position: relative;

    @include mq('sp') {
      margin-top: 30px;
    }

  .koko {
    position: absolute;
    left: 7%;
    font-size: 30px;
    color: #fff;
    background-color: red;
    margin-top: 20px;
    padding: 10px 10px;

      @include mq('sp') {
        top: -13px;
        font-size: 10px;
        left: 50%;
        padding: 5px 40px;
        transform: translateX(-50%);
      }

  }
}


.ima-card-list {
  display: flex;
    @include mq('sp') {
      display: block;
    }
  align-items: center;
  justify-content: space-around;
}

.ima-card-item {

  width: 300px;
  border: solid 3px #00c2cb;

    @include mq('sp') {
      margin: 0 auto;
      margin-bottom: 20px;
    }

  .ima-card-title {
    font-size: 50px;
    font-weight: bold;
    width: 200px;
    border-bottom: 2px solid #00c2cb;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    
  }

  .ima-card-text {
    font-size: 25px;
    color:rgb(54, 53, 53);
    margin-bottom: 50px;
  }

  .ima-card-img {
    padding-bottom: 30px;

    img {
      width: 200px;
    }
    
  }
}

footer {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  a {
    text-decoration: none;
    color:rgb(54, 53, 53);

    &:hover {
      opacity: 0.6;
    }
  }
}


//点滅

.blink {
	-webkit-animation: blink 1s ease infinite;
	animation: blink 2s ease infinite;
}
@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

// *{outline:1px solid #0000FF}